<h2>Start</h2>
<h3>Please choose your section</h3>

<a ui-sref="beginning">
    <button class="btn btn-warning btn-block">Beginning</button>
</a>

<a ui-sref="training">
    <button class="btn btn-warning btn-block">Training</button>
</a>

<a ui-sref="quickStartGuide">
    <button class="btn btn-warning btn-block">QuickStartGuide</button>
</a>

<a ui-sref="markersCustomIcons">
    <button class="btn btn-warning btn-block">Markers With Custom Icons</button>
</a>

<a ui-sref="geoJson">
    <button class="btn btn-warning btn-block">Using GeoJSON with Leaflet</button>
</a>

<a ui-sref="moscowMap">
    <button class="btn btn-warning btn-block">Moscow Map</button>
</a>

<a ui-sref="wickedDemo">
    <button class="btn btn-warning btn-block">Wicked Demo</button>
</a>

<a ui-sref="wickedDemo2">
    <button class="btn btn-warning btn-block">Wicked Demo2</button>
</a>